/* safe settings                                 */

/* add display:inline to floated elements */
* html #content,
* html #sidebar,
* html #follow,
* html h1#title, * html div#title,
* html #description,
* html .nav, * html .nav ul,
* html div.post-header div.date,
* html .tags,
* html div.c-grav,
* html .footer-column,
* html #footer-latest.footer-column,
* html .flickr_badge_image,
* html #port-images,
* html .toc,
* html #follow dl dt, * html #follow dl dd, * html .nav li, * html .page-template-pageportfolio-php div.entry p,
* html .col-right, * html .col-left {display:inline;}

/* fix negative margins */
* html .nav li ul ul {position:relative; zoom:1;}


.nav a:hover, .nav a:visited {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0px 20px;
}


div#title {
	background-image: url(../images/logo.gif ) !important;
}
